.file-update-form * {
  box-sizing: border-box;
}

.file-update {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.file-update--data {
  width: 100%;
}

.file-update--preview {
  width: 100%;
  margin-bottom: 2em;
}

.file-update--data dl {
  display: flex;
  flex-wrap: wrap;
}

.file-update--data dt {
  width: 80px;
  text-align: right;
  margin: 0 0 .75rem 0;
}
.file-update--data dd {
  width: calc(100% - 80px);
  padding: 0 1rem;
  text-align: left;
  margin: 0 0 .75rem 0;
}


@media (min-width: 61em) {
  .file-update {
    flex-direction: row;
  }

  .file-update--data {
    width: 60%;
    order: 1;
  }

  .file-update--preview {
    width: 40%;
    order: 2;
  }
}
