
{{ attach_library('file_update/form') }}

<div class="file-update">
  {% if preview %}<div class="file-update--preview">{{ preview }}</div>{% endif %}
  <div class="file-update--data">
    <dl>
      {% for key, prop in props %}
      <dt><b>{{ key|capitalize }}:</b></dt>
      <dd>{{ prop }}</dd>
      {% endfor %}
    </dl>
  </div>
</div>
